html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    box-sizing: border-box;
}

.box-container {
    display: flex;
    flex-flow: row wrap;
    gap: 15px 15px;
    justify-content: flex-start;
}

.box {
    flex: 1 1 calc(25% - 15px);
    height: 100px;
    border: 1px solid gray;
    box-sizing: border-box;
    /* default color */
    background-color: yellow; 
}